<% include ../partials/header %>

<h1> Show page </h1>


<img src = "<%= spot.image %>">
<h2> <%=spot.name %> </h2>
<h2> <%=spot.country%> </h2>
<p><%=spot.description%></p>

<form action = "/spots/<%=spot._id%>/edit" >
	<input type="submit" value = "Edit"/>
</form>

<form action = "/spots/<%=spot._id%>?_method=DELETE" method="POST">
	<input type="submit" value = "Delete"/>
</form>

<a href= "/spots"> Back </a>


<h2>Comments:</h2>

<form action = "/spots/<%=spot._id%>/comments/new" >
	<input type="submit" value = "New"/>
</form>

<% spot.comments.forEach(function(comment){ %>
<p><strong> <%= comment.author %> </strong></p>
<h4><%= comment.created %></h4>
<p> <%= comment.text %> </p>

<form action = "/spots/<%=spot._id%>/comments/<%=comment._id%>/edit" >
	<input type="submit" value = "Edit"/>
</form>

<form action = "/spots/<%=spot._id%>/comments/<%=comment._id%>?_method=DELETE" method = "POST">
	<input type="submit" value = "Delete"/>
</form>

<% }); %>


<% include ../partials/footer %>